/* style.css */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/******   Bouton initialisation du Chat *******/
.chat-toggle {
    position: fixed;
    bottom: 40px;
    left: 250px;
    background-color: #2a2abb;
    border: none;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
}

.iconChat {
    width: 24px;
    height: 24px;
    fill: white;
}

/************* Fin barre de recherche  **************/

.chatSearch {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.chatSearch input {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.chatSearch button {
    margin-top: 5px;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: #2a2abb;
    color: white;
    cursor: pointer;
}

.chatSearchResults {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.searchBubble {
    background-color: #2a2abb;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    width: 80%;
    margin-bottom: 15px;
    text-align: center;

}
.searchBubble:hover {
    background-color: #1e1e9b;
}
/************* Fin barre de recherche  **************/

/****** Fin initialisation du Chat ******/

/****** Chat Container *******/

.chatcontainer {
    display: none;
    width: 400px;
    height: 600px;
    background-color: #d6d6d6;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

.headerchat {
    background-color: #4B4B99;
    color: white;
    padding: 15px;
    font-size: 12px;
}

.textheader {
    margin-left: 65px;
}

.bodychat {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.welcomeWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.welcomeMessage {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 350px;
    box-sizing: border-box;
    max-width: 80%;
}

.userMessageWrapper {
    display: flex;
    justify-content: flex-end;
}



.avatar {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;

}

.welcomeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

#chatOptions {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.chatOptionsDiv {
    margin: 8px 0;
    padding: 12px 0;
    /* hauteur de la capsule */
    border: 1px solid rgb(31, 31, 31);
    /* contour noir */
    border-radius: 30px;
    /* arrondi */
    background-color: #ffeb3b;
    /* jaune */
    display: flex;
    justify-content: center;
    /* centre bouton horizontalement */
    align-items: center;
}

.chatOptions {
    background-color: transparent;
    /* bouton transparent */
    border: none;
    color: black;
    font-size: 12px;

    cursor: pointer;
    padding: 8px 20px;
    width: auto;
    max-width: none;
    transition: color 0.3s ease;
}

.chatOptions:hover {
    color: #444;
}



.chatfooter {
    color: #4B4B99;
    text-align: center;
    border: solid white;
    background-color: white;
    padding: 6px;

}

#clearChatButton {
    position: absolute;
    bottom: 1px;
    right: 10px;
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.boutonCroix {
    width: 24px;
    height: 24px;
    fill: #2a2abb;
}

/****** Fin Chat Container *******/

/******** Animation *********/

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.6s ease-out;
}

.hidden {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    display: flex !important;
}

.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    display: flex !important;
}




/************** Responsive **************/



/************** Responsive **************/

/**
@media screen and (max-width: 950px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;
    }

        .chat-toggle {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #2a2abb;
        border: none;
        border-radius: 50%;
        padding: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        z-index: 999;
    }

    .iconChat {
        width: 24px;
        height: 24px;
        fill: white;
    }



    .chatcontainer {
        width: 90vw;
        max-width: 350px;
        height: 80vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        position: fixed;
        bottom: 70px;
        right: 20px;
        z-index: 999;
        transition: 0.4s;
    }

    .bodychat {
        flex: 1;
        overflow-y: auto;
        padding: 10px;
        transition: 0.4s;
    }

    .chatOptions button {
        font-size: 16px;
        padding: 10px;
        transition: 0.4s;
    }

    .chatfooter {
        font-size: 12px;
        text-align: center;
        padding: 8px;
        background-color: #f0f0f0;
        transition: 0.4s;
    }

    .avatar {
        width: 30px;
        height: 30px;
        transition: 0.4s;
    }

    .welcomeMessage {
        font-size: 14px;
        max-width: 100%;
        transition: 0.4s;
    }

    .chat-toggle {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #2a2abb;
        border: none;
        border-radius: 50%;
        padding: 12px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: 0.4s;
    }

    .iconChat {
        width: 24px;
        height: 24px;
        fill: #ffffff;
        transition: 0.4s;
    }

    #clearChatButton {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: 0.4s;
    }

    .boutonCroix {
        width: 20px;
        height: 20px;
        transition: 0.4s;
    }
}