.popupFormation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 9999;
  border-radius: 4px;
}

/* Contenu de la pop-up */
.popup-content {
  background: #fff; /* blanc */
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3); /* effet flottant */
  animation: popup-appear 0.2s ease-out;
}

/* Animation d’apparition */
@keyframes popup-appear {
  from { transform: scale(0.9); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}
.FiltreFormation {
    display: flex;
    justify-content: space-between;
}
.FiltreFormation .tabs {
    width: 50%;
}
.formation select {
    color: #000000;
    font-weight: bold;
    width: auto;
}
.formation select option {
    color: #000000;
    background: #fff;
}

.formation-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
    align-items: stretch;
    overflow-y: auto;
    padding: 0.5rem;
    max-height: 40vh;
    margin-top: 10px;
}

.cardFormation {
    background: #fff;
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.cardFormation:hover {
    transform: translateY(-5px);
}
.cardFormation h3 {
    font-size: 0.8rem;
    margin: 0;
    color: #000000;
}

.cardFormation p {
    margin: 0;
    font-size: 0.7rem;
    color:#555;
}




@media screen and (max-width: 600px) {
    .FiltreFormation {
        flex-direction: column-reverse;
        align-items: baseline;
    }
    .FiltreFormation .tabs {
        width: 90%;
    }

}